<!-- <div *ngIf="cart().length === 0; else cartTable" class="flex flex-col items-center justify-center h-screen">
  <h1 class="text-2xl mb-4">Your cart is empty.</h1>
  <a routerLink="/" type="button" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" >Return to shop</a>
</div>
<ng-template #cartTable>
  <app-table />

</ng-template>

<ng-template #customerData>
  <div class="flex justify-end mt-2" *ngIf="!logged; else customerData">
    <button
      *ngIf="router.url === '/cart'"
      class="bg-gray-400 font-semibold p-2 mt-2 rounded"
      (click)="userConfirm()"
    >
      Proceed to Checkout
    </button>
  </div>
  <app-customer-data (customerData)="handleCustomerData($event)" />
</ng-template>

<div *ngIf="payMethod">
  <app-pay-methods (payMethod)="handlePayMethod($event)" />
</div> -->


<div *ngIf="cart().length === 0" class="flex flex-col items-center justify-center h-screen">
  <h1 class="text-2xl mb-4">Your cart is empty.</h1>
  <a routerLink="/" type="button" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" >Return to shop</a>
</div>

<div *ngIf="cart().length > 0" >
  <app-table />
  <div class="flex justify-between mt-2 bg-red-700 text-white p-2 rounded">
    <p class="font-medium text-left">TOTAL </p>
    <span class="font-bold text-right">{{ total() | currency:'$':'symbol':'1.0' }}</span>
  </div>

  <div *ngIf="!logged" class="flex justify-end mt-2">
    <button  (click)="userConfirm()" class="bg-gray-400 font-semibold p-2 mt-2 rounded" >
      Proceed to Checkout
    </button>
  </div>

  <div *ngIf="logged && step === 0">
    <app-customer-data (customerData)="onLocation($event)" />
  </div>

  <div *ngIf="logged && step === 1">
    <app-pay-methods (paymentData)="onPayMethod($event)" />
  </div>

  <div *ngIf="logged && showModal">
    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                  Order Details
                </h3>
              </div>
              <div class="border-t border-gray-200">
                <div class="flex">
                  <dl class="flex-1 mr-2">
                    <label for="locationName" class="block text-sm font-medium text-gray-700">Name</label>
                    <input id="locationName" type="text" readonly class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-gray-100 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" [value]="orderData.locationData.name">
                  </dl>
                  <dl class="flex-1 ml-2">
                    <label for="locationAddress" class="block text-sm font-medium text-gray-700">Address</label>
                    <input id="locationAddress" type="text" readonly class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-gray-100 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" [value]="orderData.locationData.address">
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm" (click)="confirmOrder()">
              Confirm Order
            </button>
            <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm" (click)="closeModal()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

